---
layout: layouts/series.njk
lang: zh
pageTitle: "Predator Sport 系列 - 入门竞技杆性价比之选 | CuePedia"
pageDescription: "Predator Sport 系列球杆评测：Predator 入门级竞技杆，搭配 314-3 前节，进阶玩家的第一选择。"
seriesId: predator-sport
---
